appdirs==1.4.4
attrs==20.1.0
beautifulsoup4==4.9.1
blis==0.4.1
boto3==1.14.47
botocore==1.17.47
bs4==0.0.1
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
cheroot==8.5.1
CherryPy==18.6.0
cherrypy-cors==1.6
click==7.1.2
conllu==4.1
cymem==2.0.3
distlib==0.3.1
docutils==0.15.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz
filelock==3.0.12
ftfy==5.8
future==0.18.2
h5py==2.10.0
httpagentparser==1.9.1
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.0.1
isodate==0.6.0
jaraco.classes==3.1.0
jaraco.collections==3.1.0
jaraco.functools==3.1.0
jaraco.text==3.4.0
jmespath==0.10.0
joblib==0.16.0
jsonnet==0.16.0
jsonpickle==1.4.1
lxml==4.5.2
more-itertools==8.4.0
murmurhash==1.0.2
nltk==3.5
numpy==1.19.1
overrides==3.1.0
packaging==20.4
plac==1.1.3
pluggy==0.13.1
portend==2.7.0
preshed==3.0.2
protobuf==3.13.0
py==1.9.0
py-rouge==1.1
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
pytz==2020.5
rdflib==5.0.0
regex==2020.7.14
requests==2.24.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.2
sentencepiece==0.1.91
six==1.15.0
soupsieve==2.0.1
spacy==2.2.4
SPARQLWrapper==1.8.5
srsly==1.0.2
tempora==4.0.1
tensorboardX==2.1
thinc==7.4.0
threadpoolctl==2.1.0
tokenizers==0.8.1rc1
toml==0.10.1
torch==1.4.0
tqdm==4.48.2
transformers==3.0.2
urllib3==1.25.10
virtualenv==20.0.35
wasabi==0.7.1
wcwidth==0.2.5
word2number==1.1
zc.lockfile==2.0
zipp==3.1.0
